.top{
color: white;
font-size: 2rem;
text-transform: capitalize;
margin: 10px;
}
.chkt{
color: white;
font-size: 1.5rem;
text-transform: capitalize;
margin: 10px;
}
.CreatorInnerDiv{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.RocketBtn{
    padding: 10px;
    width: 150px;
    background-color:transparent;
   border: 2px solid #A259FF;
    color: white;
    outline: none;
    border-radius: 20px;
    text-transform: capitalize;
    margin: 20px;
    padding: 5px;
}
.rkct{
    color: #A259FF;
    margin-top: 8px;
    margin-right: 5px;
}
.Grid{
    max-width: 50rem;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4  , 1fr);
    gap: 2rem;
    /* place-items: center; */
}
.creatorInfoBox{
    background-color:#3B3B3B;
    text-align: center;
    border-radius: 10px;
}
.creatorImg{
    margin: 20px;
}
.creatorName{
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    color: white;
    text-transform: capitalize;
    padding: 10px;
}
.sales{
    text-align: center;
    font-weight: normal;
    /* font-size: 1rem; */
    text-transform: capitalize;
    color: white;
    
}