.browse{
    font-size: 3rem;
    font-family: sans-serif;
    color: white;
    text-transform: capitalize;
    text-transform: capitalize;
}
.browseP{
    color:white;
    font-size: 1.5rem;
    padding: 15px;
}
.market_search_Input{
width: 100%;
padding: 10px;
background-color: transparent;
border: 1.5px solid black;
padding: 20px;
margin: 22px;
border-radius: 22px;
}
.mertktTextBox{
    margin: 50px;
}
.flexNumber{
    display: flex;
    justify-content: space-evenly;
}
.numP{
    color:whites;
    text-transform: capitalize;
    font-size: 2rem;
    border-bottom: solid 3px white;
    width: 190px;
    text-align: center;
    width: 250px;
    margin: 13px;
    padding: 20px;
    color: white;
}
.numspan{
    font-size: 1rem;
    color:white;
    background-color: #858584;
    border-radius: 50%;
    padding: 9px;
}
.numP2{
    color:whites;
    text-transform: capitalize;
    font-size: 2rem;
    width: 190px;
    text-align: center;
    width: 250px;
    margin: 13px;
    padding: 20px;
    color: white;
}
.tinyImg{
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
.MarketGrid{
    display: grid;
    grid-template-columns: repeat(3 ,1fr);
}

.MarketNftCollectionInfo{
    margin: 10px;
    border-radius: 20px;
    background-color: #3B3B3B;
}
.MarketNftImg{
    width: 100%;
}
.martketTitle{
    color: white;
    text-transform: capitalize;
    padding: 9px;
    font-weight: normal;
}
@media only screen and (max-width:768px) {
    .MarketGrid{
        display:flex;
        flex-wrap: wrap;
        align-items: center;
        margin-top: 30px;
    } 
    .mertktTextBox{
        margin: 0px;
    }
    .browse{
        font-size: 1.6rem; 
    }
    
    .browseP{
        color:white;
        font-size: 1rem;
        padding: 10px;
        font-weight: normal;
    }
    .market_search_Input{
        margin: 0px;
    }
    .numP2{
        color:whites;
        text-transform: capitalize;
        font-size: 15px;
        width: 190px;
        text-align: center;
        width: 180px;
        color: white;
    }
    .numP{
        color:whites;
        text-transform: capitalize;
        font-size: 15px;
        width: 190px;
        text-align: center;
        width: 220px;
        color: white;
        
    }
    .numspan{
        font-size: 1rem;
        color:white;
        background-color: #858584;
        border-radius: 50%;
        padding: 2px;
    }
}
