.underImg{
    height: 50px;
    width: 50px;
    padding: 10px;
}
.topImg{
    width: 100%;
}
.GridContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}
.collectionBox{
    margin: 20px;
}
.nftNAme{
     color:white;
     font-size: 1.2rem;
     font-weight: bold;
     text-transform: capitalize;
}
.nftArtist{
    margin: 10px;
}
.trending{
    color:white;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: capitalize;
    margin: 15px;
}
.checkout{
    color:white;
    font-size: 1.2rem;
    font-weight: bold;
    text-transform: capitalize;
    margin: 15px;
}
.extraInfo{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    /* padding-top: 15px; */
}
.nftN{
    margin-top: 13px;
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
@media  only screen and (max-width:768px) {
    .GridContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
       
    } 
    .collectionBox{
        margin: 10px;
    }
    .trending{
        color:white;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: capitalize;
        margin: 20px;
    }
    .checkout{
        color:white;
        font-size: 1.5rem;
        font-weight: normal;
        text-transform: capitalize;
        margin: 20px;
    }
}